/* header.css */
header {
    background-color: #0f4549;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}
