#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: rgb(33, 88, 102);
}
